.jenkins-external

# Large files - distributed separately
*.qcow2
*.iso
*.img

# Compiled shared libraries (built inside container)
*.so

# Runtime-generated container files (created by LinuxServer base image)
services/xemu/data/.cache/
services/xemu/data/.local/
services/xemu/data/.dbus/
services/xemu/data/.XDG/
services/xemu/data/.Xresources
services/xemu/data/.xsettingsd
services/xemu/data/.bash_history
services/xemu/data/.bashrc
services/xemu/data/.config/pulse/
services/xemu/data/.config/openbox/
services/xemu/data/.config/gtk-3.0/
services/xemu/data/.config/glib-2.0/
services/xemu/data/.config/xfce4/
services/xemu/data/ssl/
services/xemu/data/Desktop/

# XLink Kai runtime data
services/xlinkkai/
